# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_API_KEY=
FIREBASE_STORAGE_BUCKET=
FIREBASE_PROJECT_NUMBER=
FIREBASE_APP_ID=

# Plaid
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox

# Alpaca
ALPACA_KEY_ID=
ALPACA_SECRET_KEY=

# Alpha Vantage
ALPHA_VANTAGE_KEY=

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=unispend
POSTGRES_USER=admin
POSTGRES_PASSWORD=password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
