# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environment
# -----------------------------
venv/
env/

# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# Local data / caches
# -----------------------------
data/*.json

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# VSCode
# -----------------------------
.vscode/